.page {
    composes: pageContent from "../common.css";
}

.cardBundle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: -10px;
}

.cardBundleItem {
    margin: 10px;
}