.popup {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    color: black;
    background-color: white;

    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;

    transition: opacity 1s ease;
}

.popupVisible {
    composes: popup;
    transition: none;
    opacity: 1;
}

.popupInvisible {
    composes: popup;
    opacity: 0;
}