:import("../variables.css") {
    transitionDuration: pageTransitionDuration;
    fontFamily: fontFamily;
    fontWeight: fontWeight;
}

.counter {
    position: absolute;
    top: 10%;
    left: 50%;

    color: white;

    font-size: 1.6rem;
    letter-spacing: 1px;

    transform: translateX(-50%);
}

.score {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;

    color: white;

    font-size: 1.2rem;
}

.pointPopup {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    pointer-events: none;
}

.container {
    width: 100%;
    height: 100%;

    background-image: url(../../img/background.jpg);
    background-size: cover;
    background-position: center center;

    font-family: fontFamily;
    font-weight: fontWeight;
}

.pages {
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;

    transition: transform transitionDuration cubic-bezier(0.420, 0.000, 0.310, 1.000);
    will-change: transform;
}

.pageActive {
    composes: page;
}

/* Make the fist page have a custom transition when restarting the game. */
.pageActive:first-child {
    transition: transform transitionDuration 0.1s cubic-bezier(.78,0,0,.97);
}